<div class="row">
  <div class="col s2 m3 chat-list">
    <app-chat-list></app-chat-list>
  </div>
  <div class="col s10 m9 chat-right">
    <div class="window">
      <app-chat-window></app-chat-window>
    </div>
    <div class="bar">
      <app-chat-bar></app-chat-bar>
    </div>
</div>
