<footer class="page-footer grey lighten-2 black-text">
    <div class="container">
      <div class="row">
        <div class="col m4">
            <h2>Links</h2>
            <ul>
                <li><a class="black-text" routerLink="/home">Home</a></li>
                <li><a class="black-text" routerLink="/chat">Chat</a></li>
                <li><a class="black-text" routerLink="/login">Log in</a></li>
                <li><a class="black-text" routerLink="/register">Register</a></li>
            </ul>
        </div>
        <div class="col m4 s4"></div>
        <div class="col m4">
          <h2>Contact</h2>
          <ul>
            <li>GIBZ</li>
            <li>Baarenstrasse 100</li>
            <li>6300 Zug</li>
            <li><a class="black-text" href="mailto:scrumbags@gibz.ch">scrumbags@gibz.ch</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>