<nav class="grey lighten-2">
    <div class="nav-wrapper">
        <a routerLink="/home" class="brand-logo black-text">&nbsp;Scrumbags</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="/register" class="black-text">Register</a></li>
            <li><a routerLink="/login" class="waves-effect waves-light btn grey lighten-3 black-text">Log in</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav grey lighten-2" id="mobile-demo">
    <li><a routerLink="/register">Register</a></li>
    <li><a routerLink="/login">Log in</a></li>
</ul>