h4{
  margin: 14px 0 0 0;
  font-weight: bold;
}
p{
  margin: 0;
}
.row {
  margin: 12px 0;
}
.chat-timestamp{
  margin: 0 0 8px 0;
  color: #424242;
  float: right!important;
  clear: both;
}
#chat-window-wrapper {
  margin-left: 10vw;
  padding-right: 10vw;
  max-height: 88vh;
  z-index: 0;
  overflow-y: scroll;
}

.message-left {
  position: relative;
  background: #bdbdbd;
  border-radius: 0.4em;
}

.message-left:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-right-color: #bdbdbd;
  border-left: 0;
  margin-top: -11px;
  margin-left: -11px;
}

.message-right {
  position: relative;
  background: #ffbf00;
  border-radius: 0.4em;
}

.message-right:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-left-color: #ffbf00;
  border-right: 0;
  margin-top: -11px;
  margin-right: -11px;
}
