<div id="chat-window-wrapper">
  <div class="row">
    <div class="col s12 m12">
      <div class="message-list" *ngFor="let message of messages">
        <div class="message-item row">
          <div *ngIf="message.author == currentUsername; else defaultMessage">
            <div class="col offset-s2 offset-m3 s10 m9 message-right">
              <h4>{{ message.author }}</h4>
              <p>{{ message.content }}</p>
              <p class="chat-timestamp">{{ message.timestamp }}</p>
            </div>
          </div>

          <ng-template #defaultMessage>
            <div class="col s10 m9 message-left">
              <h4>{{ message.author }}</h4>
              <p>{{ message.content }}</p>
              <p class="chat-timestamp">{{ message.timestamp }}</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
