<div class="chat-bar-wrapper">
  <div class="row">
    <div class="col offset-m2 s12 m10">
      <div class="left">
        <textarea name="" id="" cols="20" rows="20" [(ngModel)]="messageBox"></textarea>
      </div>
      <div class="left send-button">
        <a (click)="sendMessage()" class="waves-effect waves-light btn yellow">
          <i class="material-icons black-text">send</i>
        </a>
      </div>
    </div>
  </div>
</div>
