.chat-bar-wrapper {
  height: 12vh;
  padding: 20px 0 0 0;
  background-color: #bdbdbd;
}
.row {
  margin: 0;
}
textarea {
  width: 800px;
  height: 80px;
  border-top: 0;
  border-left: 0;
  resize: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.send-button {
  padding: 20px 0 0 40px;
  .yellow {
    background: #ffbf00 !important;
  }
}
