<div class="settings-bar row">
  <div class="col s12 m12 grey lighten-2">
    <div class="left">
      <h1 class="username">{{ username }}</h1>
    </div>
    <div class="right">
      <i class="material-icons hover-pointer modal-trigger" href="#chat-modal">chat</i>
      <div id="chat-modal" class="modal">
        <div class="modal-content">
          <h1>Chat</h1>
          <div class="row input-field">
            <input id="iUsername" [(ngModel)]="newChatUsername" type="text" />
            <label for="iUsername">Username</label>
          </div>
          <div class="row">
            <a
              (click)="newDirectMessage()"
              class="waves-effect waves-light btn blue darken-1"
              >New Direct Message</a
            >
          </div>
          <br />
        </div>
        <div class="modal-footer">
          <a class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      <i class="material-icons hover-pointer modal-trigger" href="#settings-modal"
        >settings</i
      >
      <div id="settings-modal" class="modal">
        <div class="modal-content">
          <h1>Settings</h1>
          <div class="row">
            <div class="input-field col s6">
              <input
                type="text"
                id="iUsername"
                placeholder="Username"
                value="ngModel"
                [(ngModel)]="userData.username"
              />
              <label for="iUsername"></label>
            </div>
            <div class="input-field col s6">
              <input
                type="text"
                id="iEmail"
                placeholder="Email"
                [(ngModel)]="userData.email"
              />
              <label for="iEmail"></label>
            </div>
          </div>
          <div class="row">
            <a (click)="logout()" class="waves-effect waves-light btn left red"
              >Log out</a
            >
            <a (click)="updateSettings()" class="waves-effect waves-light btn right green"
              >Update Settings</a
            >
          </div>
        </div>
        <div class="modal-footer">
          <a class="modal-close waves-effect waves-green btn-flat">Cancle</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="chat-list" *ngFor="let chat of chats">
  <div class="chat-list-item row">
    <div *ngIf="this.activeChat == chat.id; else defaultChat">
      <div
        id="{{ chat.id }}"
        (click)="switchActiveChat(chat.id)"
        class="col s12 m12 active"
      >
        <h2>{{ chat.title }}</h2>
        <div *ngIf="chat.lastMessage">
          <p class="left">
            {{ chat.lastMessage.content.substring(0, 45) }}
            <span *ngIf="chat.lastMessage.content.length > 45">...</span>
          </p>
          <p class="right">{{ chat.lastMessage.timestamp }}</p>
        </div>
      </div>
    </div>

    <ng-template #defaultChat>
      <div
        id="{{ chat.id }}"
        (click)="switchActiveChat(chat.id)"
        class="col s12 m12 grey"
      >
        <h2>{{ chat.title }}</h2>
        <div *ngIf="chat.lastMessage">
          <p class="left">
            {{ chat.lastMessage.content.substring(0, 45) }}
            <span *ngIf="chat.lastMessage.content.length > 45">...</span>
          </p>
          <p class="right">{{ chat.lastMessage.timestamp }}</p>
        </div>
      </div>
    </ng-template>
  </div>
</div>
