.username {
  margin: 20px 0;
}
i {
  margin: 25px 10px;
}
h2 {
  margin: 16px 0;
}
.row {
  margin-bottom: 0;
}
.chat-list-item {
  border-top: 1px black solid;
  .active {
    //This is the color of grey lighten-1
    background-color: #bdbdbd !important;
  }
}
