<app-navbar></app-navbar>
<div class="login-container">
  <img src="../../../assets/images/start-page.jpg" alt="Image of girl with phone" />
  <div class="form-container">
    <h1>Login here!</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>
      <button [disabled]="!loginForm.valid" mat-flat-button type="submit" color="primary">
        Submit
      </button>
    </form>
  </div>
</div>
<app-footer></app-footer>