.login-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  .form-container {
    margin: 5em;
    height: 30vh;
    width: 33vw;
  }
  form {
    display: flex;
    flex-direction: column;
    mat-form-field {
      margin: 0.5em;
    }
  }
  img {
    margin: 5em;
    border-radius: 0.5em;
  }
}
