<app-navbar></app-navbar>
<div class="login-container">
  <img src="../../../assets/images/start-page.jpg" alt="Image of girl with phone" />
  <div class="form-container">
    <h1>Register here!</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="example@example.com"
        />
        <mat-error *ngIf="registerForm.controls.email.errors?.email">
          Email is invalid
        </mat-error>
        <mat-error *ngIf="registerForm.controls.email.errors?.emailExists">
          Email already exists
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="username" />
        <mat-error *ngIf="registerForm.controls.username.errors?.minlength">
          Username must be at least 4 characters long
        </mat-error>
        <mat-error *ngIf="registerForm.controls.username.errors?.usernameExists">
          Username already exists
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-icon matSuffix matTooltip="Minimum of 8 characters">info</mat-icon>
        <mat-error *ngIf="registerForm.errors?.minlength">
          Password must be at least 8 characters long
        </mat-error> </mat-form-field
      ><mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput formControlName="passwordConfirm" />
      </mat-form-field>
      <mat-error *ngIf="!registerForm.errors?.passwordsMatch">
        Passwords don't match
      </mat-error>
      <button
        [disabled]="!registerForm.valid"
        mat-flat-button
        color="primary"
        type="submit"
      >
        Submit
      </button>
    </form>
    <div id="login-link">
      <span>Already registered? </span>
      <a routerLink href="/login">Login</a>
    </div>
  </div>
</div>
<app-footer></app-footer>