<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col s6">
            <img src="assets/images/home.png" alt="Happy woman holding sparklers" class="image">
        </div>
        <div class="col s6">
            <h1>Welcome to Scrumbags</h1>
            <p class="text">Scrumbags is an easy to use Web-Application for chatting with your friends!<br>
                We have Groupchat functionality so you can text all your friends at the same time! <br><br><br>
                Click <a routerLink="/register">Sign up</a> to create a new account or press <a routerLink="/login">Login</a> if you already have an account.
            </p>
        </div>
    </div>


    <hr>

    <div class="row">
        <div class="col s4 center">
            <a (click)='additionalInfo("school")' class="btn-floating btn-large waves-effect waves-light blue darken-1"><i class="material-icons">school</i></a>
        </div>
        <div class="col s4 center">
            <a (click)='additionalInfo("time")' class="btn-floating btn-large waves-effect waves-light blue darken-1"><i class="material-icons">schedule</i></a>
        </div>
        <div class="col s4 center">
            <a (click)='additionalInfo("happy")' class="btn-floating btn-large waves-effect waves-light blue darken-1"><i class="material-icons">sentiment_very_satisfied</i></a>
        </div>
    </div>
    <div class="row">
        <p class="text center col s12 m8 offset-m2">{{text}}</p>
    </div>
    <div class="row">
        <p class="text col s12 m8 offset-m2 center">
            We are 6 Students from the GIBZ developing this Chat Application for M426. <br>
            For this Project, where scrum is our main focus we decided to differentiate the developers in Frontend and Backend. The Productowner and Scrummaster are always welcome to join in and help developing in their spare time.
        </p>
    </div>
</div>
<app-footer></app-footer>